{% extends "layout/base-popup.html" %}
{% block content %}
	<div id="myModal" class="modal fade" role="dialog">
	    <div class="modal-dialog">

	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
	                <a href="/mendaftar/" type="button" class="close" >&times;</a>
	                <h4 class="modal-title">Pendaftaran Berhasil</h4>
	            </div>
	            <div class="modal-body">
	                <p>Terima kasih sudah mendaftar, silahkan klik <a href="/daftar/">disini</a> untuk melanjutkan pendaftaran akun.</p>
	            </div>
	            <div class="modal-footer">
	                <a href="/mendaftar/" type="button" class="btn btn-warning">Close</a>
	            </div>
	        </div>

	    </div>
	</div>
{% endblock %}

{% block inline_js %}
	<script type="text/javascript">
		$('#myModal').modal('show');
	</script>
{% endblock %}