{% extends "layout/base.html" %}
{% block content %}
	<br \>
	<div class="panel panel-default">
		<div class="panel-heading">
			<i class="fa fa-users fa-fw"></i> Data Gaji Karyawan
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body">
			<table class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<td>#</td>
						<td>Nama Karyawan</td>
						<td>Gaji</td>
						<td>Hapus</td>
					</tr>
				</thead>
				<tbody>
					 {% for server in object_list %}
					 <tr>
					 	<td>{{forloop.counter}}</td>
					 	<td>{{ server.nama_karyawan }}</td>
					 	<td><a href="{% url "server_edit" server.id %}">{{ server.gaji }}</a></td>
					 	<td><a href="{% url "server_delete" server.id %}">delete</a></td>
					 </tr>
					 {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}