{% extends "layout/base-dinas.html" %}
{% block content %}
	
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
			<ol class="breadcrumb" style="margin-bottom: 5px;">
				<li class="active">Dashboard</li>
			</ol>
			<br \>
		</div>
		<!-- /.col-lg-12 -->
	</div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Grafik Karyawan
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="/dashboard/grafik/">Tampil Grafik</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="chart-1">{{output|safe}}</div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Jumlah Karyawan Berdasarkan Tingkat Pendidikan
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Pendidikan Terakhir</th>
                                                    <th>Jumlah</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>SMA/SMK</td>
                                                    <td>{{jumlah_sma}}</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>D1</td>
                                                    <td>{{jumlah_d1}}</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>D2</td>
                                                    <td>{{jumlah_d2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>D3</td>
                                                    <td>{{jumlah_d3}}</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>S1</td>
                                                    <td>{{jumlah_s1}}</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>S2</td>
                                                    <td>{{jumlah_s2}}</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>S3</td>
                                                    <td>{{jumlah_s3}}</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Total Karyawan</td>
                                                    <td>{{jumlah_karyawan}}</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Jumlah Aktif</td>
                                                    <td>{{jumlah_aktif}}</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Jumlah Resign</td>
                                                    <td>{{jumlah_resign}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.table-responsive -->
                                </div>
                                <!-- /.col-lg-4 (nested) -->
                                <div class="col-lg-8">
                                    <div id="morris-bar-chart"></div>
                                </div>
                                <!-- /.col-lg-8 (nested) -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                  <!-- /.panel -->
{% endblock %}